[submodule "logpile"]
	path = logpile
	url = https://github.com/aornugent/logpile.git
[submodule "plant"]
	path = plant
	url = https://github.com/aornugent/plant.git
	branch = develop
[submodule "odelia"]
	path = odelia
	url = https://github.com/aornugent/odelia.git
[submodule "phylloptim"]
	path = phylloptim
	url = https://github.com/aornugent/phylloptim.git
[submodule "regnans"]
	path = regnans
	url = https://github.com/aornugent/regnans.git
