[submodule "logpile"]
	path = logpile
	url = https://github.com/aornugent/logpile.git
[submodule "plant"]
	path = plant
	url = https://github.com/aornugent/plant.git
	branch = claude/tf24-forward-speed-n5audm
[submodule "odelia"]
	path = odelia
	url = https://github.com/aornugent/odelia.git
	branch = claude/tf24-forward-speed-engine
